# Python caches
__pycache__/
*.pyc

# Virtual environment
venv/

# Temporary files and folders
*.bak
*.log
backups/
temp/
/reports/*
!/reports/.gitkeep



# Local working docs
.docs/

# ENV setup
*.env
